# Copy this file to .env.local and fill in the values

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=replace_with_long_random_string

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

GOOGLE_API_KEY=
LISTENNOTES_API_KEY=

